@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&family=Ubuntu:wght@300;500;700&display=swap');

body {
    background-color: #1f1f38;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

#navbar {
    line-height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: .5px solid #ffffff52;
    border-width: 80%;
    margin-bottom: 1rem;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    margin: 0px 1rem;
}

#navbar ul li a {
    text-decoration: none;
    padding: 0.5rem 0.9rem;

}

.right {
    display: none;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.nav-col a:hover {
    border-radius: .4rem;
    color: #1f1f38;
    background-color: #fff;
}


/* Home Section */
.home-left,
.home-right {
    width: 48%;
    padding: 2rem;
}

.home-right {
    padding: 0;
}

.home-left h6,
h4 {
    color: hsl(240deg 8% 43%);
    margin: 1rem 0;
    margin-left: 3px;
    font-size: 1.2rem;
}

.home-left h1 {
    font-size: 2.5rem;
}

.home-right {
    position: relative;
}

.home-right img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    border-radius: 62%;
    height: 100%;
}

.circle {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    padding: .5rem;
    position: relative;
}
 .row{
    color:white;
 }
 .row1 {
    display: flex;
  }
  
  .column1 {
    flex: 33.33%;
    padding: 5px;
  }






/* Bottom Navigator */
#bottom {
    position: fixed;
    width: 100%;
    height: 6rem;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    bottom: 0rem;
}

#bottom .bottom-nav {
    height: 4rem;
    padding: 0 2rem;
    background-color: #151527;
    border-radius: 3rem;
    z-index: 1000;
    display: -webkit-inline-box;
}

#bottom .bottom-nav li {
    color: #fff;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

#bottom .bottom-nav ul a {
    text-decoration: none;

}

#bottom .bottom-nav li:hover {
    background-color: #4db5ff;
}

#bottom .bottom-nav li:active {
    background-color: #4db5ff;
}

.cpy-white {
    color: white;
}


/* Utility Classes */
.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.s-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.f-col {
    flex-direction: column;
}


.p-relative {
    position: relative;
}

.t-white {
    color: #fff;
}

.bg-color {
    background-color: #1f1f38;
}

.t-center {
    text-align: center;
}

.my-2 {
    margin: 2rem 0;
}

.f-2 {
    font-size: 2rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.h-50 {
    height: 50vh;
}

.mx-1 {
    margin: 0 1rem;
}

.m-top {
    margin-top: 1rem;
}

.m-auto {
    margin: auto;
}

.btn {
    margin-left: 0 .5rem;
    font-size: 1rem;
    color: #4db5ff;
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    border: 1px solid #4db5ff;
    border-radius: 0.4rem;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

.buttons a,
#hireme {
    text-decoration: none;
}

.btn:hover {
    color: #1f1f38;
    border-color: #fff;
    background-color: #fff;
}

.live {
    color: #1f1f38;
    background-color: #4db5ff;
}
.item-container {
    background-color: #fff;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left-logo {
    width: 60px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left-logo img {
    width: 100%;
}

.top-right-cart {
    font-size: 1.4rem;
    margin-right: 1rem;
}

.main-item {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.item-heading {
    text-transform: capitalize;
}

.item-description {
    margin: .5rem 0;
    font-size: .9rem;
    font-weight: 200;
}

.item-price {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.item-price sup {
    color: green;
}

.rating i {
    color: rgb(200, 142, 254);
    margin-bottom: 1rem;
}

.item-cart-btn {
    border: none;
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    border: 1px;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: rgb(200, 142, 254);
    color: #fff;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 200;
    position: relative;
    cursor: pointer;
    transition: all .3s linear;
}

.item-cart-btn:hover {
    color: #fff;
    background-color: rgb(160, 110, 206);
}








  
.panel-container {
    background-color: #12192c;
    box-shadow: 0 0 10px rgba(170, 36, 36, 0.3);
    border-radius: 15px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    max-width: 400px;
    color:#4e54c8;
    margin:10% auto 2% auto;
  }
  
  .panel-container strong {
    line-height: 20px;
  }
  
  .ratings-container {
    display: flex;
    margin: 20px 0;
  }
  
  .rating {
    flex: 1;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
  }
  
  .rating:hover,
  .rating.active {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .rating img {
    width: 40px;
  }
  
  .rating small {
    color: #fff;
    display: inline-block;
    margin: 10px 0 0;
  }
  
  .rating:hover small,
  .rating.active small {
    color: #8f94fb;
  }
  
  .btn {
    background-color: #8f94fb;
    color: #000;
    border: 0;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
  }
  
  .btn:focus {
    outline: 0;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .fa-heart {
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  
  .credit a{
      text-decoration: none;
      color: #fff;
    }
  
    .credit {
        text-align: center;
    }
  
  

/*footer*/
    .footer-section {
        width: 100%;
        display: flex;
        color: white;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1rem 0;
        background-color: #0d0d24;
    }
    
    .footer-section h2 {
        margin-bottom: 1rem;
        position: relative;
    }
    
    .footer-section h2::after {
        content: '';
        width: 4rem;
        height: .2rem;
        background: #e65b00;
        position: absolute;
        top: 2.5rem;
        left: 0;
    }
    
    .footer-section p {
        transition: all .2s linear;
        margin-bottom: .6em;
    }
    
    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    
    .footer-section p:hover {
        transition: all .2s linear;
        transform: translateX(4px);
    }
    
    .footer-section a:hover {
        color: #f46d13;
    }
    
    .footer-item {
        margin: 1rem;
    }
    
    .footer-item ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    
    .footer-item li {
        margin-right: 1rem;
    }
    
    .social ul li {
        font-size: 1.2rem;
        cursor: pointer;
        transition: all .2s linear;
    }
    
    .social ul li:hover {
        color: #e65b00;
        transform: scale(1.1);
        transition: all .2s linear;
    }
    
    @media screen and (max-width: 320px) {
        .footer-section {
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 2rem;
        }
    }    










    